<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/Scripts/jquery.signalR-2.4.2.js"></script>
<script src="/signalr/hubs"></script>
<style>
    .chessboard {
        width: 850px;
        height: 850px;
        background-image: url('/Images/bancotuong.jpg');
    }

    .chessnode {
        position: relative;
        width: 50px;
        height: 50px;
    }

    .chessimgnode {
        width: 50px;
        height: 50px;
        position: relative;
    }
</style>


<div class="container">
    <div id="app">
        <div class="chessboard">
            <div v-for="item in chessNode" v-if="item !== null">
                <div :id="item.id" class="chessnode">
                    <img :src="'/' + item.src" class="chessimgnode" v-bind:style="{ display: item.visible, top: item.top + 'px', left: item.left + 'px'}" />
                </div>
            </div>
        </div>
        {{ message }}
        total record: {{total}}
        <input v-on:click="getTotal" type="button" value="get total" />
        List Student
        <ul id="demo">
            <li v-for="item in students" v-if="item !== null">
                {{item.Id}} {{item.Name}}
            </li>
        </ul>

        class room
        name: <input v-model="classRoom" type="text" value="" />
        class room name: {{classRoom}}

        <input v-on:click="insertClassRoom" type="button" value="insert Class Room" />

        <div>
            <ul id="discussion"></ul>
        </div>
    </div>
</div>
<script>
    var stObject = {};
    const xeDo1 = [105, 410], xeDen1 = [905, 405];
    const maDo1 = [155, 405], maDen1 = [955, 405];
    const tuongDo1 = [205, 405], tuongDen1 = [1005, 405];
    const siDo1 = [255, 405], siDen1 = [1055, 405];
    const tuongDo = [305, 405], tuongDen = [1105, 405];
    const siDo2 = [355, 405], siDen2 = [1155, 405];
    const tuongDo2 = [405, 405], tuongDen2 = [1205, 405];
    const maDo2 = [455, 405], maDen2 = [1255, 405];
    const xeDo2 = [505, 405], xeDen2 = [1305, 405];
    const phaoDo1 = [555, 405], phaoDen1 = [1360, 405];
    const phaoDo2 = [605, 405], phaoDen2 = [1405, 405];
    const totDo1 = [655, 405], totDen1 = [1455, 405];
    const totDo2 = [700, 405], totDen2 = [1505, 405];
    const totDo3 = [755, 405], totDen3 = [1555, 405];
    const totDo4 = [800, 405], totDen4 = [1605, 405];
    const totDo5 = [850, 405], totDen5 = [1655, 405];

    function LamTron(a, b) {
        let temp = Math.abs(a);
        let temp2 = Math.abs(b);
        while (temp >= temp2) {
            temp -= temp2;
        }
        return Math.abs(a) - temp;
    }

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            total: 0,
            students: [],
            classRoom: '',
            chessNode: [],
            pos: {},
            oldPos: {}
        },
        methods: {
            getTotal() {
                axios
                    .get('/api/Student/getbyId?Id=1')
                    .then(response => {
                        this.total = response.data.total;
                        this.students = response.data.data;
                        console.log(this.students);
                    })
                    .catch(error => {
                        console.log(error)
                    })
                    .finally()
            },
            insertClassRoom() {
                var payload = { Name: this.classRoom };
                var res = axios.post('/api/ClassRoom/insertClassRoom', payload);
                console.log(res.data);
            },
            getchessNode() {
                var res = axios.post('/api/chess/getchessnode').then(response => {
                    this.chessNode = response.data.chessnode;
                    //this.chessRoom = response.data.data;
                    console.log(response.data.chessnode);
                })
                    .catch(error => {
                        console.log(error)
                    })
                    .finally();
            }
        },
        updated: function () {
            $(".chessnode").draggable({
                start: function (event, ui) {
                    this.pos = ui.helper.position();
                    this.oldPos = ui.position;
                },
                drag: function () {

                },
                stop: function (event, ui) {
                    //console.log('top=' + ui.position.top + '  left=' + ui.position.left);

                    let x = this.pos.top;
                    let y = this.pos.left;

                    const pos = ui.position;

                    switch (ui.helper.attr('id')) {
                        case 'xedo1': {
                            if (pos.left < -10 || pos.left > 595 || pos.top > 8 || pos.top < -675) {
                                $('#xedo1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;

                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                }
                                else {
                                    if (Math.abs(pos.left) % 71 > 35) {
                                        Y = pos.left > 0 ? LamTron(pos.left, 71) + 71 : -LamTron(pos.left, 71) - 71;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 71) : -LamTron(pos.left, 71);
                                    }
                                }
                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }

                                $('#xedo1').offset({ top: X + xeDo1[0], left: Y + xeDo1[1] });
                                return;
                            }
                            break;
                        }
                        case 'xedo2': {
                            if (pos.left < -585 || pos.left > 15 || pos.top > 8 || pos.top < -675) {
                                $('#xedo2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                }
                                else {
                                    if (Math.abs(pos.left) % 71 > 35) {
                                        Y = pos.left > 0 ? LamTron(this.oldPos.left, 71) + 71 : -LamTron(this.oldPos.left, 71) - 71;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 71) : -LamTron(pos.left, 71);
                                    }
                                }
                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }

                                $('#xedo2').offset({ top: X + xeDo2[0], left: Y + xeDo2[1] });
                                return;
                            }
                            break;
                        }
                        case 'phaodo1': {
                            if (pos.left < -80 || pos.left > 520 || pos.top > 160 || pos.top < -530) {
                                $('#phaodo1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                }
                                else {
                                    if (Math.abs(pos.left) % 71 > 35) {
                                        Y = pos.left > 0 ? LamTron(pos.left, 71) + 71 : -LamTron(pos.left, 71) - 71;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 71) : -LamTron(pos.left, 71);
                                    }
                                }
                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }
                                $('#phaodo1').offset({ top: X + phaoDo1[0], left: Y + phaoDo1[1] });
                                return;
                            }
                            break;
                        }
                        case 'phaodo2': {
                            if (pos.left < -525 || pos.left > 80 || pos.top > 160 || pos.top < -530) {
                                $('#phaodo2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                }
                                else {
                                    if (Math.abs(pos.left) % 71 > 35) {
                                        Y = pos.left > 0 ? LamTron(pos.left, 71) + 71 : -LamTron(pos.left, 71) - 71;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 71) : -LamTron(pos.left, 71);
                                    }
                                }
                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }
                                $('#phaodo2').offset({ top: X + phaoDo2[0], left: Y + phaoDo2[1] });
                                return;
                            }
                            break;
                        }
                        case 'mado1': {
                            if (pos.left < -80 || pos.left > 515 || pos.top > 5 || pos.top < -675) {
                                $('#mado1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (this.oldPos.top > pos.top) {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                    }
                                }
                                else {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                    }
                                }
                                if (Y == -150 || Y == 600 || X == 75 || X == -750) {
                                    $('#mado1').offset({ top: x, left: y });
                                    return;
                                }
                                else {
                                    $('#mado1').offset({ top: X + maDo1[0], left: Y + maDo1[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'mado2': {
                            if (pos.left < -520 || pos.left > 75 || pos.top > 5 || pos.top < -675) {
                                $('#mado2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (this.oldPos.top > pos.top) {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                    }
                                }
                                else {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                    }
                                }
                                if (X == 75 || X == -750 || Y == -600 || Y == 150) {
                                    $('#mado2').offset({ top: x, left: y });
                                    return;
                                }
                                else {
                                    $('#mado2').offset({ top: X + maDo2[0], left: Y + maDo2[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'tuongdo': {
                            if (pos.left < -80 || pos.left > 80 || pos.top < -155 || pos.top > 5) {
                                $('#tuongdo').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#tuongdo').offset({ top: x, left: y });
                                    return;
                                }
                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                }
                                else {
                                    if (Math.abs(pos.left) % 71 > 35) {
                                        Y = pos.left > 0 ? Math.ceil(Math.abs(pos.left) / 73) * 73 : -(Math.ceil(Math.abs(pos.left) / 73) * 73);
                                    }
                                    else {
                                        Y = pos.left > 0 ? Math.floor(Math.abs(pos.left) / 73) * 73 : -(Math.floor(Math.abs(pos.left) / 73) * 73);
                                    }
                                }
                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? Math.ceil(Math.abs(pos.top) / 75) * 75 : -(Math.ceil(Math.abs(pos.top) / 75) * 75);
                                    }
                                    else {
                                        X = pos.top > 0 ? Math.floor(Math.abs(pos.top) / 75) * 75 : -(Math.floor(Math.abs(pos.top) / 75) * 75);
                                    }
                                }

                                $('#tuongdo').offset({ top: X + tuongDo[0], left: Y + tuongDo[1] });
                                return;
                            }
                            break;
                        }
                        case 'sido1': {
                            if (pos.left < -5 || pos.left > 155 || pos.top < -160 || pos.top > 0) {
                                $('#sido1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) < 25 || Math.abs(this.oldPos.left - pos.left) < 25) {
                                    X = this.oldPos.top - (this.oldPos.top % 75);
                                    Y = this.oldPos.left - (this.oldPos.left % 75);
                                }
                                else {
                                    X = this.oldPos.top > pos.top ? (this.oldPos.top - (this.oldPos.top % 75)) - 75 : (this.oldPos.top - (this.oldPos.top % 75)) + 75;
                                    Y = this.oldPos.left > pos.left ? (this.oldPos.left - (this.oldPos.left % 75)) - 75 : (this.oldPos.left - (this.oldPos.left % 75)) + 75;
                                }
                                $('#sido1').offset({ top: X + siDo1[0], left: Y + siDo1[1] });
                                return;
                            }
                            break;
                        }
                        case 'sido2': {
                            if (pos.left < -155 || pos.left > 5 || pos.top > 5 || pos.top < -155) {
                                $('#sido2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) < 25 || Math.abs(this.oldPos.left - pos.left) < 25) {
                                    X = this.oldPos.top - (this.oldPos.top % 75);
                                    Y = this.oldPos.left - (this.oldPos.left % 75);
                                }
                                else {
                                    X = this.oldPos.top > pos.top ? (this.oldPos.top - (this.oldPos.top % 75)) - 75 : (this.oldPos.top - (this.oldPos.top % 75)) + 75;
                                    Y = this.oldPos.left > pos.left ? (this.oldPos.left - (this.oldPos.left % 75)) - 75 : (this.oldPos.left - (this.oldPos.left % 75)) + 75;
                                }

                                $('#sido2').offset({ top: X + siDo2[0], left: Y + siDo2[1] });
                                return;
                            }
                            break;
                        }
                        case 'tuongdo1': {
                            if (pos.left < -160 || pos.left > 445 || pos.top > 5 || pos.top < -305) {
                                $('#tuongdo1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) < 55 || Math.abs(this.oldPos.left - pos.left) < 55) {
                                    X = this.oldPos.top - (this.oldPos.top % 146);
                                    Y = this.oldPos.left - (this.oldPos.left % 146);
                                }
                                else {
                                    X = this.oldPos.top > pos.top ? (this.oldPos.top - (this.oldPos.top % 146)) - 146 : (this.oldPos.top - (this.oldPos.top % 146)) + 146;
                                    Y = this.oldPos.left > pos.left ? (this.oldPos.left - (this.oldPos.left % 146)) - 146 : (this.oldPos.left - (this.oldPos.left % 146)) + 146;
                                }

                                $('#tuongdo1').offset({ top: X + tuongDo1[0], left: Y + tuongDo1[1] });
                                return;
                            }
                            break;
                        }
                        case 'tuongdo2': {
                            if (pos.left < -445 || pos.left > 155 || pos.top > 5 || pos.top < -305) {
                                $('#tuongdo2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) < 55 || Math.abs(this.oldPos.left - pos.left) < 55) {
                                    X = this.oldPos.top - (this.oldPos.top % 146);
                                    Y = this.oldPos.left - (this.oldPos.left % 146);
                                }
                                else {
                                    X = this.oldPos.top > pos.top ? (this.oldPos.top - (this.oldPos.top % 146)) - 146 : (this.oldPos.top - (this.oldPos.top % 146)) + 146;
                                    Y = this.oldPos.left > pos.left ? (this.oldPos.left - (this.oldPos.left % 146)) - 146 : (this.oldPos.left - (this.oldPos.left % 146)) + 146;
                                }

                                $('#tuongdo2').offset({ top: X + tuongDo2[0], left: Y + tuongDo2[1] });
                                return;
                            }
                            break;
                        }
                        case 'totdo1': {
                            if (pos.left < -10 || pos.left > 585 || pos.top > 5 || pos.top < -455) {
                                $('#totdo1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top < pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totdo1').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top > -135) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totdo1').offset({ top: totDo1[0] - 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totdo1').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                        Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.left)) % 71 > 35) {
                                            Y = pos.left > 0 ? Math.ceil(Math.abs(pos.left) / 73) * 73 : -(Math.ceil(Math.abs(pos.left) / 73) * 73);
                                        }
                                        else {
                                            Y = pos.left > 0 ? Math.floor(Math.abs(pos.left) / 73) * 73 : -(Math.floor(Math.abs(pos.left) / 73) * 73);
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.top)) % 75 > 35) {
                                            X = pos.top > 0 ? Math.ceil(Math.abs(pos.top) / 75) * 75 : -(Math.ceil(Math.abs(pos.top) / 75) * 75);
                                        }
                                        else {
                                            X = pos.top > 0 ? Math.floor(Math.abs(pos.top) / 75) * 75 : -(Math.floor(Math.abs(pos.top) / 75) * 75);
                                        }
                                    }

                                    $('#totdo1').offset({ top: X + totDo1[0], left: Y + totDo1[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totdo2': {
                            if (pos.left < -150 || pos.left > 440 || pos.top > 5 || pos.top < -455) {
                                $('#totdo2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top < pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totdo2').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top > -135) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totdo2').offset({ top: totDo2[0] - 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totdo2').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                        Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.left)) % 71 > 35) {
                                            Y = pos.left > 0 ? Math.ceil(Math.abs(pos.left) / 73) * 73 : -(Math.ceil(Math.abs(pos.left) / 73) * 73);
                                        }
                                        else {
                                            Y = pos.left > 0 ? Math.floor(Math.abs(pos.left) / 73) * 73 : -(Math.floor(Math.abs(pos.left) / 73) * 73);
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.top)) % 75 > 35) {
                                            X = pos.top > 0 ? Math.ceil(Math.abs(pos.top) / 75) * 75 : -(Math.ceil(Math.abs(pos.top) / 75) * 75);
                                        }
                                        else {
                                            X = pos.top > 0 ? Math.floor(Math.abs(pos.top) / 75) * 75 : -(Math.floor(Math.abs(pos.top) / 75) * 75);
                                        }
                                    }

                                    $('#totdo2').offset({ top: X + totDo2[0], left: Y + totDo2[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totdo3': {
                            if (pos.left < -295 || pos.left > 295 || pos.top > 5 || pos.top < -455) {
                                $('#totdo3').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top < pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totdo3').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top > -135) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totdo3').offset({ top: totDo3[0] - 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totdo3').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                        Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.left)) % 71 > 35) {
                                            Y = pos.left > 0 ? Math.ceil(Math.abs(pos.left) / 73) * 73 : -(Math.ceil(Math.abs(pos.left) / 73) * 73);
                                        }
                                        else {
                                            Y = pos.left > 0 ? Math.floor(Math.abs(pos.left) / 73) * 73 : -(Math.floor(Math.abs(pos.left) / 73) * 73);
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.top)) % 75 > 35) {
                                            X = pos.top > 0 ? Math.ceil(Math.abs(pos.top) / 75) * 75 : -(Math.ceil(Math.abs(pos.top) / 75) * 75);
                                        }
                                        else {
                                            X = pos.top > 0 ? Math.floor(Math.abs(pos.top) / 75) * 75 : -(Math.floor(Math.abs(pos.top) / 75) * 75);
                                        }
                                    }

                                    $('#totdo3').offset({ top: X + totDo3[0], left: Y + totDo3[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totdo4': {
                            if (pos.left < -440 || pos.left > 150 || pos.top > 5 || pos.top < -455) {
                                $('#totdo4').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top < pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totdo4').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top > -135) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totdo4').offset({ top: totDo4[0] - 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totdo4').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                        Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.left)) % 71 > 35) {
                                            Y = pos.left > 0 ? Math.ceil(Math.abs(pos.left) / 73) * 73 : -(Math.ceil(Math.abs(pos.left) / 73) * 73);
                                        }
                                        else {
                                            Y = pos.left > 0 ? Math.floor(Math.abs(pos.left) / 73) * 73 : -(Math.floor(Math.abs(pos.left) / 73) * 73);
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.top)) % 75 > 35) {
                                            X = pos.top > 0 ? Math.ceil(Math.abs(pos.top) / 75) * 75 : -(Math.ceil(Math.abs(pos.top) / 75) * 75);
                                        }
                                        else {
                                            X = pos.top > 0 ? Math.floor(Math.abs(pos.top) / 75) * 75 : -(Math.floor(Math.abs(pos.top) / 75) * 75);
                                        }
                                    }

                                    $('#totdo4').offset({ top: X + totDo4[0], left: Y + totDo4[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totdo5': {
                            if (pos.left < -580 || pos.left > 10 || pos.top > 5 || pos.top < -455) {
                                $('#totdo5').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top < pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totdo5').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top > -135) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totdo5').offset({ top: totDo5[0] - 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totdo5').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                        Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 71) : -LamTron(this.oldPos.left, 71);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.left)) % 71 > 35) {
                                            Y = pos.left > 0 ? Math.ceil(Math.abs(pos.left) / 73) * 73 : -(Math.ceil(Math.abs(pos.left) / 73) * 73);
                                        }
                                        else {
                                            Y = pos.left > 0 ? Math.floor(Math.abs(pos.left) / 73) * 73 : -(Math.floor(Math.abs(pos.left) / 73) * 73);
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                    }
                                    else {
                                        if (Math.abs(Math.abs(pos.top)) % 75 > 35) {
                                            X = pos.top > 0 ? Math.ceil(Math.abs(pos.top) / 75) * 75 : -(Math.ceil(Math.abs(pos.top) / 75) * 75);
                                        }
                                        else {
                                            X = pos.top > 0 ? Math.floor(Math.abs(pos.top) / 75) * 75 : -(Math.floor(Math.abs(pos.top) / 75) * 75);
                                        }
                                    }

                                    $('#totdo5').offset({ top: X + totDo5[0], left: Y + totDo5[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'xeden1': {
                            if (pos.left < 0 || pos.left > 585 || pos.top < -5 || pos.top > 670) {
                                $('#xeden1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;

                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 75) : -LamTron(this.oldPos.left, 75);
                                }
                                else {
                                    if (Math.abs(pos.left) % 75 > 35) {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) + 75 : -LamTron(pos.left, 75) - 75;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) : -LamTron(pos.left, 75);
                                    }
                                }

                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) + 75 : -LamTron(this.oldPos.top, 75) - 75;
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }

                                $('#xeden1').offset({ top: X + xeDen1[0], left: Y + xeDen1[1] });
                                return;
                            }
                            break;
                        }
                        case 'xeden2': {
                            if (pos.left < -585 || pos.left > 5 || pos.top < -5 || pos.top > 670) {
                                $('#xeden2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;

                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 75) : -LamTron(this.oldPos.left, 75);
                                }
                                else {
                                    if (Math.abs(pos.left) % 75 > 35) {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) + 75 : -LamTron(pos.left, 75) - 75;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) : -LamTron(pos.left, 75);
                                    }
                                }

                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) + 75 : -LamTron(this.oldPos.top, 75) - 75;
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }

                                $('#xeden2').offset({ top: X + xeDen2[0], left: Y + xeDen2[1] });
                                return;
                            }
                            break;
                        }
                        case 'phaoden1': {
                            if (pos.left < -75 || pos.left > 515 || pos.top < -150 || pos.top > 525) {
                                $('#phaoden1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;

                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? LamTron(this.oldPos.left, 75) : -LamTron(this.oldPos.left, 75);
                                }
                                else {
                                    if (Math.abs(pos.left) % 75 > 35) {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) + 75 : -LamTron(pos.left, 75) - 75;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) : -LamTron(pos.left, 75);
                                    }
                                }

                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? LamTron(this.oldPos.top, 75) : -LamTron(this.oldPos.top, 75);
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }

                                $('#phaoden1').offset({ top: X + phaoDen1[0], left: Y + phaoDen1[1] });
                                return;
                            }
                            break;
                        }
                        case 'phaoden2': {
                            if (pos.left < -515 || pos.left > 75 || pos.top < -150 || pos.top > 525) {
                                $('#phaoden2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;

                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left > 0 ? this.oldPos.left : -this.oldPos.left;
                                }
                                else {
                                    if (Math.abs(pos.left) % 75 > 35) {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) + 75 : -LamTron(pos.left, 75) - 75;
                                    }
                                    else {
                                        Y = pos.left > 0 ? LamTron(pos.left, 75) : -LamTron(pos.left, 75);
                                    }
                                }
                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top > 0 ? this.oldPos.top : -this.oldPos.top;
                                }
                                else {
                                    if (Math.abs(pos.top) % 75 > 35) {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) + 75 : -LamTron(pos.top, 75) - 75;
                                    }
                                    else {
                                        X = pos.top > 0 ? LamTron(pos.top, 75) : -LamTron(pos.top, 75);
                                    }
                                }

                                $('#phaoden2').offset({ top: X + phaoDen2[0], left: Y + phaoDen2[1] });
                                return;
                            }
                            break;
                        }
                        case 'maden1': {
                            if (pos.left < -75 || pos.left > 515 || pos.top < -10 || pos.top > 675) {
                                $('#maden1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top > pos.top) {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                    }
                                }
                                else {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                    }
                                }
                                if (X == -75 || X == 750 || Y == -150 || Y == 600) {
                                    $('#maden1').offset({ top: x, left: y });
                                    return;
                                }
                                else {
                                    $('#maden1').offset({ top: X + maDen1[0], left: Y + maDen1[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'maden2': {
                            if (pos.left < -515 || pos.left > 75 || pos.top < -10 || pos.top > 675) {
                                $('#maden2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top > pos.top) {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) > 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 - 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                    }
                                }
                                else {
                                    if (this.oldPos.left > pos.left) {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 - 75;
                                        }
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) < 75) {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 75;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 150;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75 + 150;
                                            Y = Math.ceil(this.oldPos.left / 75) * 75 + 75;
                                        }
                                    }
                                }
                                if (X == -75 || X == 750 || Y == 150 || Y == -600) {
                                    $('#maden2').offset({ top: x, left: y });
                                    return;
                                }
                                else {
                                    $('#maden2').offset({ top: X + maDen2[0], left: Y + maDen2[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'tuongden': {
                            if (pos.left < -75 || pos.left > 75 || pos.top < -10 || pos.top > 150) {
                                $('#tuongden').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#tuongden').offset({ top: x, left: y });
                                    return;
                                }
                                let X = 0, Y = 0;

                                if (Math.abs(this.oldPos.top - pos.top) > 35) {
                                    Y = this.oldPos.left;
                                }
                                else {
                                    if (Math.abs(pos.left - this.oldPos.left) > 35) {
                                        Y = pos.left > this.oldPos.left ? (Math.ceil(this.oldPos.left / 75) * 75) + 75 : (Math.ceil(this.oldPos.left / 75) * 75) - 75;
                                    }
                                    else {
                                        Y = this.oldPos.left;
                                    }
                                }

                                if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                    X = this.oldPos.top;
                                }
                                else {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        X = pos.top > this.oldPos.top ? (Math.ceil(this.oldPos.top / 75) * 75) + 75 : (Math.ceil(this.oldPos.top / 75) * 75) - 75;
                                    }
                                    else {
                                        X = this.oldPos.top;
                                    }
                                }

                                $('#tuongden').offset({ top: X + tuongDen[0], left: Y + tuongDen[1] });
                                return;
                            }
                            break;
                        }
                        case 'siden1': {
                            if (pos.left < -5 || pos.left > 155 || pos.top < -5 || pos.top > 150) {
                                $('#siden1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) < 25 || Math.abs(this.oldPos.left - pos.left) < 25) {
                                    $('#siden1').offset({ top: x, left: y });
                                    return;
                                }
                                else {
                                    if (this.oldPos.top < pos.top) {
                                        if (this.oldPos.left < pos.left) {
                                            X = (Math.ceil(this.oldPos.top / 75) * 75) + 75;
                                            Y = this.oldPos.left + 75;
                                        }
                                        else {
                                            X = (Math.ceil(this.oldPos.top / 75) * 75) + 75;
                                            Y = this.oldPos.left - 75;
                                        }
                                    }
                                    else {
                                        if (this.oldPos.left < pos.left) {
                                            X = (Math.ceil(this.oldPos.top / 75) * 75) - 75;
                                            Y = this.oldPos.left + 75;
                                        }
                                        else {
                                            X = (Math.ceil(this.oldPos.top / 75) * 75) - 75;
                                            Y = this.oldPos.left - 75;
                                        }
                                    }
                                }
                                $('#siden1').offset({ top: X + siDen1[0], left: Y + siDen1[1] });
                                return;
                            }
                            break;
                        }
                        case 'siden2': {
                            if (pos.left < -155 || pos.left > 0 || pos.top < -5 || pos.top > 150) {
                                $('#siden2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top < pos.top) {
                                    if (this.oldPos.left < pos.left) {
                                        X = (Math.ceil(this.oldPos.top / 75) * 75) + 75;
                                        Y = this.oldPos.left + 75;
                                    }
                                    else {
                                        X = (Math.ceil(this.oldPos.top / 75) * 75) + 75;
                                        Y = this.oldPos.left - 75;
                                    }
                                }
                                else {
                                    if (this.oldPos.left < pos.left) {
                                        X = (Math.ceil(this.oldPos.top / 75) * 75) - 75;
                                        Y = this.oldPos.left + 75;
                                    }
                                    else {
                                        X = (Math.ceil(this.oldPos.top / 75) * 75) - 75;
                                        Y = this.oldPos.left - 75;
                                    }
                                }
                                $('#siden2').offset({ top: X + siDen2[0], left: Y + siDen2[1] });
                                return;
                            }
                            break;
                        }
                        case 'tuongden1': {
                            if (pos.left < -155 || pos.left > 445 || pos.top < -10 || pos.top > 295) {
                                $('#tuongden1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) < 75 || Math.abs(this.oldPos.left - pos.left) < 75) {
                                    $('#tuongden1').offset({ top: x, left: y });
                                    return;
                                }
                                else {
                                    if (this.oldPos.top < pos.top) {
                                        if (this.oldPos.left < pos.left) {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) + 150;
                                            Y = this.oldPos.left + 150;
                                        }
                                        else {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) + 150;
                                            Y = this.oldPos.left - 150;
                                        }
                                    }
                                    else {
                                        if (this.oldPos.left < pos.left) {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) - 150;
                                            Y = this.oldPos.left + 150;
                                        }
                                        else {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) - 150;
                                            Y = this.oldPos.left - 150;
                                        }
                                    }
                                }
                                $('#tuongden1').offset({ top: X + tuongDen1[0], left: Y + tuongDen1[1] });
                                return;
                            }
                            break;
                        }
                        case 'tuongden2': {
                            if (pos.left < -445 || pos.left > 150 || pos.top < -10 || pos.top > 295) {
                                $('#tuongden2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                let X = 0, Y = 0;
                                if (Math.abs(this.oldPos.top - pos.top) < 75 || Math.abs(this.oldPos.left - pos.left) < 75) {
                                    $('#tuongden2').offset({ top: x, left: y });
                                    return;
                                }
                                else {
                                    if (this.oldPos.top < pos.top) {
                                        if (this.oldPos.left < pos.left) {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) + 150;
                                            Y = this.oldPos.left + 150;
                                        }
                                        else {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) + 150;
                                            Y = this.oldPos.left - 150;
                                        }
                                    }
                                    else {
                                        if (this.oldPos.left < pos.left) {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) - 150;
                                            Y = this.oldPos.left + 150;
                                        }
                                        else {
                                            X = (Math.ceil(this.oldPos.top / 150) * 150) - 150;
                                            Y = this.oldPos.left - 150;
                                        }
                                    }
                                }
                                $('#tuongden2').offset({ top: X + tuongDen2[0], left: Y + tuongDen2[1] });
                                return;
                            }
                            break;
                        }
                        case 'totden1': {
                            if (pos.left < -20 || pos.left > 595 || pos.top < -10 || pos.top > 460) {
                                $('#totden1').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top > pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totden1').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top < 75) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totden1').offset({ top: totDen1[0] + 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totden1').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 30) {
                                        Y = this.oldPos.left;
                                    }
                                    else {
                                        if (Math.abs(pos.left - this.oldPos.left) > 30) {
                                            Y = pos.left > this.oldPos.left ? Math.ceil(this.oldPos.left / 73) * 73 + 73 : Math.ceil(this.oldPos.left / 73) * 73 - 73;
                                        }
                                        else {
                                            Y = this.oldPos.left;
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = Math.ceil(this.oldPos.top / 75) * 75;
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) % 75 > 30) {
                                            X = pos.top > this.oldPos.top ? Math.ceil(this.oldPos.top / 75) * 75 + 75 : Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                    }

                                    $('#totden1').offset({ top: X + totDen1[0], left: Y + totDen1[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totden2': {
                            if (pos.left < -160 || pos.left > 440 || pos.top < -10 || pos.top > 460) {
                                $('#totden2').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top > pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totden2').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top < 75) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totden2').offset({ top: totDen2[0] + 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totden2').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 30) {
                                        Y = this.oldPos.left;
                                    }
                                    else {
                                        if (Math.abs(pos.left - this.oldPos.left) > 30) {
                                            Y = pos.left > this.oldPos.left ? Math.ceil(this.oldPos.left / 73) * 73 + 73 : Math.ceil(this.oldPos.left / 73) * 73 - 73;
                                        }
                                        else {
                                            Y = this.oldPos.left;
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = Math.ceil(this.oldPos.top / 75) * 75;
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) % 75 > 30) {
                                            X = pos.top > this.oldPos.top ? Math.ceil(this.oldPos.top / 75) * 75 + 75 : Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                    }

                                    $('#totden2').offset({ top: X + totDen2[0], left: Y + totDen2[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totden3': {
                            if (pos.left < -300 || pos.left > 300 || pos.top < -10 || pos.top > 460) {
                                $('#totden3').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top > pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totden3').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top < 75) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totden3').offset({ top: totDen3[0] + 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totden3').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 30) {
                                        Y = this.oldPos.left;
                                    }
                                    else {
                                        if (Math.abs(pos.left - this.oldPos.left) > 30) {
                                            Y = pos.left > this.oldPos.left ? Math.ceil(this.oldPos.left / 73) * 73 + 73 : Math.ceil(this.oldPos.left / 73) * 73 - 73;
                                        }
                                        else {
                                            Y = this.oldPos.left;
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = Math.ceil(this.oldPos.top / 75) * 75;
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) % 75 > 30) {
                                            X = pos.top > this.oldPos.top ? Math.ceil(this.oldPos.top / 75) * 75 + 75 : Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                    }

                                    $('#totden3').offset({ top: X + totDen3[0], left: Y + totDen3[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totden4': {
                            if (pos.left < -450 || pos.left > 150 || pos.top < -10 || pos.top > 460) {
                                $('#totden4').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top > pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totden4').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top < 75) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totden4').offset({ top: totDen4[0] + 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totden4').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 30) {
                                        Y = this.oldPos.left;
                                    }
                                    else {
                                        if (Math.abs(pos.left - this.oldPos.left) > 30) {
                                            Y = pos.left > this.oldPos.left ? Math.ceil(this.oldPos.left / 73) * 73 + 73 : Math.ceil(this.oldPos.left / 73) * 73 - 73;
                                        }
                                        else {
                                            Y = this.oldPos.left;
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = Math.ceil(this.oldPos.top / 75) * 75;
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) % 75 > 30) {
                                            X = pos.top > this.oldPos.top ? Math.ceil(this.oldPos.top / 75) * 75 + 75 : Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                    }

                                    $('#totden4').offset({ top: X + totDen4[0], left: Y + totDen4[1] });
                                    return;
                                }
                            }
                            break;
                        }
                        case 'totden5': {
                            if (pos.left < -590 || pos.left > 10 || pos.top < -10 || pos.top > 460) {
                                $('#totden5').offset({ top: x, left: y });
                                return;
                            }
                            else {
                                if (this.oldPos.top > pos.top || Math.abs(this.oldPos.top - pos.top) > 80 || Math.abs(this.oldPos.left - pos.left) > 80) {
                                    $('#totden5').offset({ top: x, left: y });
                                    return;
                                }
                                if (pos.top < 75) {
                                    if (Math.abs(pos.top - this.oldPos.top) > 35) {
                                        $('#totden5').offset({ top: totDen5[0] + 75, left: y });
                                        return;
                                    }
                                    else {
                                        $('#totden5').offset({ top: x, left: y });
                                        return;
                                    }
                                }
                                else {
                                    let X = 0, Y = 0;
                                    if (Math.abs(this.oldPos.top - pos.top) > 30) {
                                        Y = this.oldPos.left;
                                    }
                                    else {
                                        if (Math.abs(pos.left - this.oldPos.left) > 30) {
                                            Y = pos.left > this.oldPos.left ? Math.ceil(this.oldPos.left / 73) * 73 + 73 : Math.ceil(this.oldPos.left / 73) * 73 - 73;
                                        }
                                        else {
                                            Y = this.oldPos.left;
                                        }
                                    }
                                    if (Math.abs(this.oldPos.left - pos.left) > 35) {
                                        X = Math.ceil(this.oldPos.top / 75) * 75;
                                    }
                                    else {
                                        if (Math.abs(pos.top - this.oldPos.top) % 75 > 30) {
                                            X = pos.top > this.oldPos.top ? Math.ceil(this.oldPos.top / 75) * 75 + 75 : Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                        else {
                                            X = Math.ceil(this.oldPos.top / 75) * 75;
                                        }
                                    }

                                    $('#totden5').offset({ top: X + totDen5[0], left: Y + totDen5[1] });
                                    return;
                                }
                            }
                            break;
                        }
                    }

                    var movelist = [{ id: this.id, top: ui.position.top, left: ui.position.left, visible: true }];

                    var res = axios.post('/api/chess/movenode', movelist).then(response => {
                        this.chessRoom = response.data.data;
                        //alert(response);
                    })
                        .catch(error => {
                            console.log(error)
                        })
                        .finally();

                },
            });
        },
        mounted: function () {
            var chat = $.connection.requestlog;
            $.connection.hub.start().done(function () {

            });
            chat.client.postToClient = function (data) {
                $('#discussion').append('Message' + data + '<br />');

                var result = [];
                result = JSON.parse(data);
                for (var i = 0; i < result.length; i++) {
                    var node = $("#" + result[i].id);
                    node.css({ 'top': result[i].top + 'px' });
                    node.css({ 'left': result[i].left + 'px' });
                    node.css({ 'display': result[i].visible });
                    node.css({ 'top': result[i].top + 'px, left: ' + result[i].left + 'px, display:' + result[i].visible });
                    break;
                }
            };
            this.getchessNode();
        }
    })
</script>
